html{
    scroll-behavior: smooth;
}
body{
    
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(20, 20, 20);
    
    
}
a{
    text-decoration: none;
}
.dod{
    display: none;
}
nav{
    width: 100%;
    height: 120px;
    background-color: rgb(25,25,25);
    display: flex;
}
nav img{
    width: 230px;
    margin-top: -5px;
}
nav ul{
    display: flex;
    margin-left: 20%;
    
    width: 60%;
}
nav ul li{
    list-style: none;
    color: white;
    text-transform: uppercase;
    margin-left: 5%;
    margin-top: 25px;
    font-size: 17pt;
   
}
nav ul li:hover{
    color: gold;
}
.back{
    width: 100%;
}
.container {
    position: relative;
    text-align: center;
    color: white;
  }
  .container img{
      width: 100%;
  }
.centered {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40pt;
  }
  .centered1 {
    position: absolute;
    top: 32%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20pt;
  }
  .pop{
      background-color: rgb(25, 25, 25);
      height: 700px;
      width: 100%;
      margin-top: -35px;
  }
  .pop h1{
 font-size: 25pt;
  color: rgb(237, 237, 50);
  padding-top: 30px;
  text-transform: uppercase;
  }
  .pop div{
      width: 80%;
      height: 200px;
      
      margin-left: 10%;
      
  }
  .pop div div{
     
      margin-left: 0;
  }
  .di{
      margin-top: 100px;
      display: flex;
  }
  .di2{
    padding-top: 20px;
    display: flex;
}
.di2 h1{
    margin-top: -10px;
    margin-left: 5%;
    text-transform: capitalize;
   
}
.di2 p{
    margin-left: 5%;
    color: white;
}
.di h1{
    margin-top: -10px;
    margin-left: 5%;
    text-transform: capitalize;
   
}
.di p{
    margin-left: 5%;
    color: white;
}


@media only screen and (max-width:1000px){
    nav ul{
        display: none;
    }
}


.pop1{
    width: 100%;
    height: 400px;
    display: none;
    margin-top: -21px;
}
.pop1 h1{
    color: gold;
    text-transform: uppercase;
    font-size: 15pt;
    padding-top: 10px;
}
.dot{
    display: flex;

    width: 100%;
    height: 250px;
    justify-content: center;
}
.dat{
    width: 200px;
    height: 230px;
    background-color: rgb(25, 25, 25);
    
}
.dat img{
    max-width: 100%;
}
.tad{
    width: 200px;
    height: 230px;
    background-color: rgb(25, 25, 25);
    margin-left: 10%;
    
}
.tad img{
    max-width: 100%;
} 

.parallax {
  
    background-image: url("images/para.jpg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .prod{
      width: 100%;
      height: 500px;
  }
  .prod h1{
      color: gold;
      text-transform: uppercase;
      font-size: 25pt;
  }
  .drop{
      
      width: 100%;
      height: 400px;
      display: flex;
     
  }
  .drop div{
      background-color: rgb(25,25,25);
      width: 300px;
      height: 420px;
      margin-left: 8%;

  }
  .drop p{
      color: white;
      margin-left: 15px;
  }
  .a img{
          max-width: 50%;
  }
  .b img{
     max-width: 60%;
     margin-top: 10px;
  }
  .c img{
      max-width: 42%;
  }
  .drop button{
      background-color: black;
      color: gold;
      width: 150px;
      height: 30px;
      border: none;
      border-radius: 30px;
      text-transform: uppercase;
      transition: 0.3s;
  }
  .drop button:hover{
      background-color: white;
      color: black;
  }
  footer{
      width: 100%;
      height: 300px;
  }
  footer h1{
      color: gold;
      text-transform: uppercase;
  }
  .e div{
    width: 300px;
    height: 130px;
    background-color: rgb(25,25,25);
    margin-left: 18%;
  }
  .e div h2{
      color: gold;
  }
  .e div h3{
    color: gold;
}
  i{
      font-size: 20pt;
      color: gold;
      margin-left: 10%;
  }
@media only screen and (max-width:800px){
    nav img{
        display: none;
    }
    .dod{
        display: block;
        margin-left: 40%;
        color: gold;
        font-size: 25pt;
        margin-top: 10px;
    }
    nav{
        width: 100%;
        height: 80px;
    }
    .centered {
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 20pt;
      }
      .centered1 {
        position: absolute;
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 10pt;
      }
    .pop{
        display: none;
    }
      
    .pop1{
        display: block;
    }
    .parallax {
        min-height: 300px;
      }
      .prod{
        width: 100%;
        height: 200px;
    }
    .prod h1{
        color: gold;
        text-transform: uppercase;
        font-size: 15pt;
    }
    .drop{
      
        width: 100%;
        height: 200px;
        display: flex;
       
    }
    .drop div{
        background-color: rgb(25,25,25);
        width: 300px;
        height: 130px;
        margin-left: 4%;
  
    }
    .drop p{
       display: none;
    }
    .drop button{
        background-color: black;
        color: gold;
        width: 100px;
        height: 20px;
        border: none;
        font-size: 10pt;
        border-radius: 30px;
        text-transform: uppercase;
        transition: 0.3s;
    }
    footer{
        width: 100%;
        height: 200px;
    }
    footer h1{
        color: gold;
        text-transform: uppercase;
        font-size: 15pt;
    }
    .e div{
      width: 200px;
      height: 100px;
      background-color: rgb(25,25,25);
      margin-left: 5%;
    }
    .e div h2{
        color: gold;
        font-size: 13pt;
    }
    .e div h3{
      color: gold;
      font-size: 12pt;
  }
    i{
        font-size: 12pt;
        color: gold;
        margin-left: 10%;
    }
}